<h3 class="title">Details</h3>
<div class="panel panel-default " ng-controller="detailCtrl"  ng-init="getDev()">
 <form  name="submitForm" ng-submit="saveDev()"  >
            <input type="text" class="form-control" name="userId" placeholder="Email" ng-model="dev.email"  ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/" required>
            <input class="form-control" ng-model="dev.firstName" type="text" name="Firstname" placeholder="Firstname" required>
    		<input class="form-control" ng-model="dev.lastName" type="text" name="Lastname" placeholder="Lastname" required>
    		<input class="form-control" ng-model="dev.nickname" type="text" name="nickname" placeholder="Nickname" required>
			<div class="checkbox">
			<label>
				<input name="active" type="checkbox" ng-model="dev.active" /> Active
			</label>
		</div>
            <input type="submit" value="Save" ng-click="" class="btn btn-default form-control" >
 </form>
 	  <h3 class="title">Tasks</h3>
 	 	<div  class="well" ng-repeat="task in tasks ">
			 <h3><strong>{{task.label}}</strong></h3>
			<span class="lead">{{task.project.name}}</span>
			
		</div>
 	  
</div>